# Prerequisites
*.d
*.fst
*.vcd
*.dat
*.fsdb
*.log
*.jar
*.key
.metals
.bsp/
.scala-build/

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
!template/golang/go.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

build/
dist/
.vscode/
log/
logs/
temp/
picker_out*
dependence/xcomm
